# =============================================================================
# DGGS Benchmark Replication - Conda/Mamba Environment
# =============================================================================
#
# Replication of: Law & Ardo (2024)
# https://doi.org/10.1080/20964471.2024.2429847
# =============================================================================

name: dggs-replication

channels:
  - conda-forge
  - defaults

dependencies:
  # Core geospatial - loose ranges
  - gdal
  - geopandas
  - rasterio
  - fiona
  - shapely
  - pyproj
  
  # Data processing
  - numpy
  - pandas
  - pyarrow
  
  # Visualization
  - matplotlib
  - seaborn
  
  # Utilities
  - tqdm
  - click
  - pyyaml
  - psutil
  
  # Pip packages
  - pip
  - pip:
    # H3 DGGS
    - h3
    - h3pandas
    
    # Paper tools
    - vector2dggs
    - raster2dggs
    
    # Other packages
    - nlmpy
    - memory_profiler
    - jupyter
    - ipykernel
    - fastparquet
